long_dataset/ 
rag_retrieved/
rag_retrieved_interleaved/
rag_retrieved_interleaved_validation/
rag_retrieved_validation/
rag_retrieved_interleaved_plus_validation/
rag_retrieved_interleaved_plus/
rag_retrieved_interleaved_plus_GOLD_INJECTED_SORTED/
rag_retrieved_interleaved_plus_GOLD_INJECTED_SORTED_overlap_check/
rag_retrieved_interleaved_plus_SORTED/